1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "https://github.com/LubinLew/mingw64-example"
      VALUE "FileDescription", "mingw64 example demo"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "mingw64-example"
      VALUE "LegalCopyright", "MIT"
      VALUE "OriginalFilename", "example.exe"
      VALUE "ProductName", "mingw64-example"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END